#title {
  text-align: center;
}

#img-div {
  margin:-5px;
  margin-top:20px;
  width:100%;
  background-image: url(images/bg.png);
  background-repeat: repeat;
  padding: 10px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    padding-top: 20px;
}

#img-caption {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin:15px;
}

#tribute-info {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.2em;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
}
